#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color:rgb(19, 85, 22);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .5s
                cubic-bezier(0, .52, .52, 1);
    overflow: scroll;
    z-index: 2;
    padding-top: 100px;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(100vw, 0, 0);
    /* slides from right to left, it negative, left to right */
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
   
  #flyoutMenu h2 a { /*home,about,contact, search*/
    color: whitesmoke;
    margin-right: 45px;
    text-decoration: none;
  }
   
  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }